@page "/"

<PageTitle>PageWelcome</PageTitle>

<nav class="navbar navbar-expand-lg fondo menu">
  <div class="container-fluid">
    <NavLink class="navbar-brand" href=""><img src="logo.png" alt="logo" width="60px">  &nbsp; &nbsp; Api Post</NavLink>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <NavLink class="nav-link active" aria-current="page" href="">PageWelcome</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="pageapi">PageApi</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="pagecontact">PageContact</NavLink>
        </li>
      </ul> 
    </div>
  </div>
</nav>

<main class="container p-5">
  <h1>Bienvenidos a la página de <br> <Componente Nombre="Consumo Api Post"></Componente></h1>
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../welcome.webp" class="d-block w-100" alt="...">
      </div>
    </div>
</div>
</main>


